:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89b4fa;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #313244;
    --surface1: #212134;
    --surface0: #1e1e2e;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

.simg {
    width: 200px;
    height: 200px;
}

body {
    background-color: #37353fdd;
    color: white;
}

.home {
    text-align: center;
}

h1 {
    color: var(--text);
}

p {
    color: var(--text);
}

.nav-btn {
    background: transparent;
    border: none;
    color: var(--subtext1, #a6adc8);
    font-size: 24px;
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.nav-btn:hover {
    color: var(--text, #cdd6f4);
    background: rgba(8, 7, 8, 0.696);
}

.nav-btn.active {
    color: #ffffff;
}

nav {
    background-color: var(--mantle);
    padding: 12px;
    border-radius: 12px;
    position: sticky;
    top: 10px;
    z-index: 100;
}

ul {
    color: var(--text);
}

.fav-color-container {
    display: inline-flex;
    align-items: center;
    background-color: #25283f;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: #cad3f5;
    margin: 0 0 24px 24px;
}

.color-box {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid #ffffff;
}

.copy {
    color: var(--text);
    background-color: #353b67;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    margin-left: 10px;
}


a {
    color: var(--text);
}

a:hover {
    color: var(--subtext1);
    text-decoration: underline;
}

a:visited {
    color: var(--base);
}

canvas {
    position: absolute;
    pointer-events: none;
}